<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <style>
        h2 {
            background-color: lightcoral;
        }
    </style>
</head>

<body>
    <h2>Hello, how are you dear friends !</h2>

    <h1>
        <!-- <%- 10+3 %> -->
        <h1 style="background-color: lightgreen;"><%- haha.name %></h1>
        <h1><%- haha.age %></h1>
        <h1 style="color: green;"><%- hehe.continent %></h1>
    </h1>
</body>

</html>